*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 20px;
}

.markdown-box {
  float: left;
  width: 50%;
}

.html-box {
  width: 50%;
}

.headers {
  width: 50%;
  float: left;
}

html {font-size: 1em;}

body {
  background-color: white;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}

textarea {
  resize: none;
  border: 1px solid black;
  min-height: 600px;
  width: 650px;
}
