<h1>Markdown Editor</h1>

<div class="headers">
  <h2>Markdown</h2>
<p>
  enter markdown here:
</p>
  {{textarea value=markdown}}
</div>
<div class="headers">
  <h2>HTML</h2>
  <p>
    see the outcome here:
  </p>
  <section class="html-box">
  {{showdown-addon markdown}}
  </section>
</div>
